doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loo.css')
    script(src='http://code.jquery.com/jquery-latest.js')
  body
    block content
//-var a = 2;
    //-if(a==1)
    //  h2 #{a}
    //-else
    //  h2 nothing
    //
    //-var b = [1,2,3,4];
    //-for(var i in b)
    //  p #{b[i]}





